{% extends "base/base.html" %}
{% block title %} Reset Password {% endblock %}
{% block content %}
    <div class="ui two column centered grid">
        <div class="column registration-page">
            <div class="ui horizontal divider op-head">
                <h3>Password reset</h3>
            </div> 
            <form class="ui form validation" method="POST">
                {% csrf_token %}
                <div class="field">
                    <label>Email</label>
                    {{form.email}}
                </div>
                <button class="fluid ui inverted green button">Reset</button>
            </form>
        </div>
    </div>
{% endblock %}