{% extends "base/base.html" %}
{% block title %} Choose new Password {% endblock %}
{% block content %}
    <div class="ui two column centered grid">
        <div class="column registration-page">
            <div class="ui horizontal divider op-head">
                <h3>Enter new password</h3>
            </div> 
            <form class="ui form validation" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="fluid ui inverted green button">Update Password</button>
            </form>
        </div>
        </div>
{% endblock %}