{% extends "base/base.html" %}
{% block title %} Reset Password {% endblock %}
{% block content %}
    <div class="ui two column centered grid">
        <div class="column registration-page">
            <div class="ui horizontal divider op-head">
                <h3>Password reset done!</h3>
            </div> 
            <p style="text-align: center;">Your password has been set. You may go ahead and login</p>
            <a href="/" class="fluid ui inverted green button">Login</a>
        </div>
    </div>
{% endblock %}